.registration-page {
  width: 393px;
  margin: 0 auto;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  padding-bottom: 30px; /* 하단 버튼 공간 확보 */
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 345px;
  background-color: transparent;
  margin-top: 30px;
}

.close-icon-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.save-draft-button {
  background-color: #f4bb44;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.image-slider-container {
  position: relative; /* 스크롤 버튼 위치를 위해 부모 컨테이너를 relative로 설정 */
  width: 345px; /* 부모 너비 */
  overflow: hidden; /* 부모 컨테이너 밖으로 넘치는 내용 숨김 */
  margin-top: 30px;
}

.image-upload-container {
  display: flex;
  gap: 10px;
  overflow-x: scroll; /* 가로 스크롤 활성화 */
  padding: 5px 0;
  -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  cursor: grab; /* 기본 상태에서 손 모양 커서 */
}
.image-upload-container.dragging {
  cursor: grabbing; /* 드래그 중일 때 손을 쥔 커서 */
}
.image-upload-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}

.image-upload-box {
  flex-shrink: 0; /* 크기가 줄어들지 않도록 설정 */
  width: 75px;
  height: 75px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.add-image {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
}
.camera-icon {
  margin-top: 8px;
}
.camera-text {
  font-size: 10px;
  margin-top: 3px;
}
.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.form-group {
  margin-top: 30px;
  text-align: left;
  width: 345px;
}

input[type="title"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  width: 345px; /* 너비를 300px로 설정 */
  height: 150px; /* 높이를 150px로 설정 */
  resize: both; /* 사용자가 너비와 높이를 조절할 수 있도록 함 */
}

.submit-button {
  width: 345px;
  margin-top: 50px;
  background-color: #f4bb44;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

input::placeholder {
  color: #ccc;
}
textarea::placeholder {
  color: #ccc;
}

.error-message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.4);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
}

.error-message {
  margin: 0;
  font-size: 8px;
}

.remove-image-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

.image-upload-box {
  position: relative;
}
