.main-page {
  margin: 120px auto;
  margin-top: 100px;
  width: 393px;
  border: none;
}
.content {
  overflow: hidden;
}

.category {
  display: flex;
  justify-content: space-around;
}
.together-font, .share-font {
  font-size: small;
  text-align: center;
}

/*  슬라이드 섹션 */
.together-slider {
  margin-top: 5vh;
  margin-left: 0.5vw;
}
.share-slider {
  margin-top: 5vh;
  margin-left: 0.5vw;
  width: 100%;
}
.together-button, .share-button {
  display: flex;
  border: none; 
  cursor: pointer; 
  background: transparent;
}
.neighborhood-together {
  margin-bottom: 5px;
  margin-left: 5px;
}
.neighborhood-share {
  margin-bottom: 5px;
  margin-left: 5px;
}
