.main-page {
  margin: 70px auto;
  width: 393px;
  border: none;
  
}
.content {
  margin: 0 auto;
  overflow: hidden;
  
}

.category {
  display: flex;
  justify-content: space-around;
}


/*  슬라이드 섹션 */
.together-slider {

  margin-top: 5vh;
  margin-left: 2vw;

  
}
.share-slider {

  margin-top: 5vh;
  margin-left: 2vw;
  width: 100%;
}

.together-button, .share-button {
  display: flex;
  border: none; /* 버튼의 기본 테두리 제거 */
  cursor: pointer; 
  background: transparent;
}

.neighborhood-together {
  margin-bottom: 5px;
  margin-left: 5px;
}
.neighborhood-share {
  margin-bottom: 5px;
  margin-left: 5px;
}
