.react-calendar {
  border: none;
  font-family: Arial, sans-serif;
}

.date-select-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 반투명 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.date-select-container {
  background-color: #ffffff;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.date-header {
  position: relative; 
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  margin-top: 10px;
  justify-content:space-between;
  align-items: center;
}

.date-header-title {
  margin-left: 15px;
  font-size: 20px;
}
.date-close-button {
  background: #F4BB44;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight:bold;
  color:white;
  cursor: pointer;
   /* 버튼 여백 추가 */
   margin-right: 15px;
}


.react-calendar__navigation button {
  color: black; /* 네비게이션 버튼 색상 */
  font-size:medium;
  font-weight: bold;
  
}
/* 기본 날짜 색상 */
.react-calendar__tile {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: none;
  color: black;
}
/* 일요일 스타일 */
.sunday-tile {
  color: red; /* 일요일 텍스트 색상 */
  font-weight: bold;
}
/* 일요일 텍스트 스타일 */
.react-calendar__month-view__weekdays__weekday:nth-child(1) {
  color: red; /* 일요일 텍스트 색상 */
  font-weight: bold;
}
/* 숫자만 표시 */
.react-calendar__tile::after {
  content: attr(data-day); /* data-day 속성을 활용해 숫자만 표시 */
  font-size: 16px; /* 날짜 숫자 크기 */
  font-weight: bold;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile--active {
  background-color: #F4BB44;
  color: white;
  border-radius: 8px;
}

.date-confirm-button {
  background-color: #F4BB44;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
}




.time-select-container {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 정렬 */
  gap: 20px; /* 시간과 분 사이 간격 */
  margin: 20px 0; /* 위아래 여백 */
}
.time-select-container label {
  display: flex;
  flex-direction: row; /* 가로 정렬 */
  align-items: center; /* 텍스트와 select 가운데 정렬 */
  gap: 8px; /* 텍스트와 드롭다운 사이 간격 */
  font-size: 14px; /* 텍스트 크기 */
}

.time-select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}