.filter-bar {
  display: flex;
  justify-content: space-between; /* 좌우 균형 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 10px; /* 내부 여백 */
  position: fixed;
  top: 8vh; /* 상단에서의 위치 */
  left: 50%;
  transform: translateX(-50%); /* 중앙 정렬 */
  background-color: #f9f9f9; /* 배경색 */
  border-bottom: 1px solid #e0e0e0; /* 하단 테두리 */
  z-index: 10; /* 상단 고정 */
}

.filter-bar .filter-bar-button {
  display: flex;
  gap: 10px; /* 버튼 간격 */
}

.filter-bar-button > button {
  border: none;
  background: none;
  font-size: 12px; /* 글꼴 크기 */
  font-weight: bold;
  color: #333; /* 기본 글꼴 색상 */
  padding: 5px 10px; /* 버튼 내부 여백 */
  cursor: pointer;
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 전환 효과 */
}

.filter-bar-button > button:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 */
  color: #000; /* 호버 시 글꼴 색상 */
}

.category-menu-button {
  display: flex;
  align-items: center; /* 아이콘과 텍스트 정렬 */
  cursor: pointer;
  border: none;
  background: none;
  font-size: 12px;
  font-weight: bold;
  color: #333; /* 기본 색상 */
  gap: 5px; /* 아이콘과 텍스트 사이 간격 */
  margin-right: 10px;
  padding: 5px 10px; /* 클릭 가능한 영역 확보 */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 전환 효과 */
}

.category-menu-button:hover {
  background-color: #e0e0e0; /* 호버 시 배경색 */
  color: #000; /* 호버 시 글꼴 색상 */
}

.filter-modal {
  margin-top: 100px;
}

.isend-button {
  margin-left: 10px;
  border-style: none;
  background-color: #f9f9f9;
}

.isend-button2 {
  margin-left: 10px;
  border-style: none;
  border-radius: 5px;
  background-color: #e0e0e0;
}

/*노트북 & PC : 1025px-*  맥북 프로가 1024px */
@media all and (min-width: 1025px) {
  .filter-bar {
    width: calc(100vh * (9 / 20)); /* 20:9 비율로 고정, height 기준 */
    height: 8vh; /* 화면 높이에 맞추기 */
  }
}

/*태블릿 가로, 세로 : 768px-1024px*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .filter-bar {
    width: 100vw; /* 100% 화면 너비 */
    height: 8vh; /* 화면 높이에 맞춤 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  }
}

/*모바일 가로, 세로 : -767px*/
@media all and (max-width: 767px) {
  .filter-bar {
    width: 100vw; /* 100% 화면 너비 */
    height: 8vh; /* 화면 높이에 맞춤 */
  }
}
