.filter-bar {
  display: flex;
  justify-content: space-around;
  width: 393px;
  padding: 10px 0; /* 상하 간격 추가 */
  border-bottom: 1px solid #e0e0e0;
  margin: 0 auto;
  margin-top: 60px;
  border-top: 1px solid rgba(0,0,0,0.5);
}

.filter-bar button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}

.filter-bar button:hover {
  background-color: #e0a837;
  border-radius: 5px;
}

