.footer {
  background-color: #F4BB44;
  position: fixed; /* 하단에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  width: 393px; /* 화면 전체 너비로 설정 */
  height: 60px;
  display: flex;
  z-index: 1000;
   /* 다른 요소 위에 표시되도록 설정 */
}

.footer-button {
  border: none;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* 버튼 전체 너비를 footer 너비로 설정 */
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  
}

