.footer {
  background-color: #F4BB44;
  position: fixed; /* 하단에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 50%; /* 화면의 가운데 기준 */
  transform: translateX(-50%); /* 가운데 정렬 */
  width: 100%; /* 전체 화면 너비 */
  height: 60px;
  display: flex;
  justify-content: space-around; /* 버튼 간격 균등 */
  align-items: center; /* 세로 중앙 정렬 */
 z-index: 800; /* 가장 아래 */
}

.footer-button {
  border: none;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* 버튼 전체 너비를 footer 너비로 설정 */
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  
}

/*노트북 & PC : 1025px-*  맥북 프로가 1024px */
@media all and (min-width:1025px){
  .footer {
    width: calc(100vh * (9 / 20)); /* 20:9 비율로 고정, height 기준 */
    height: 8vh; /* 화면 높이에 맞추기 */
    overflow-y: auto; /* 스크롤 가능 */
    border-radius: 10px; /* 테두리 곡선 (옵션) */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  }
}

/*태블릿 가로, 세로 : 768px-1024px*/
@media all and (min-width:768px) and (max-width:1024px){
	.footer {
    width: 100vw; /* 100% 화면 너비 */
    height: 8vh; /* 화면 높이에 맞춤 */
  }
}

/*모바일 가로, 세로 : -767px*/
@media all and (max-width:767px){
	.footer {
    width: 100vw; /* 100% 화면 너비 */
    height: 8vh; /* 화면 높이에 맞춤 */
  }
}

