.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F4BB44;
  position: fixed;
  top: 0; /* 상단에 고정 */
  width: 393px; /* 화면 너비에 맞게 설정 */
  padding: 5px;
  z-index: 1000;
}

.logo-icon {
  width: 50px;
  height: 45px;
  margin-left: 20px;
  
}
.logo-button {
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  width: 70px;
  height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 10px; 
  overflow: hidden; /* 내부 요소가 바깥으로 나가지 않게 */
  background-color: white; /* 배경색을 검색창 색상으로 설정 */
  border: 1px solid #ccc; /* 검색창 테두리 */
  width: 150px;
}
.search-button {
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
}
.search-bar input {
  margin-left: 10px;
  width: 110px;
  padding: 8px;
  border: none;
  outline: none;
}

.bell-button {
  border: none;
  background: transparent;
  padding: 8px;
  cursor: pointer;
  margin-right: 15px;
}
.setting-button {
  border: none;
  background: transparent;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}