.header .back-button {color: white;}

/* 기본 버튼 스타일 */
.register-button-container {
  position: fixed; /* 하단에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 50%; /* 화면의 가운데 기준 */
  transform: translateX(240%) translateY(-130%); /* 기본적인 중앙 위치 */
  display: flex;
  z-index: 900; /* modal 아래, footer 위 */
}

/* 기본 버튼 스타일 */
.register-button {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* 둥근 모양 */
  background-color: #f4bb44; /* 버튼 배경색 */
  color: #fff;
  font-size: 24px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 */
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.register-button:hover {
  background-color: #ff8c00;
  transform: scale(1.1); /* 호버 시 크기 증가 */
}

.register-button:active {
  transform: scale(0.95); /* 클릭 시 크기 감소 */
}

/* Desktop (min-width: 1025px) */
@media all and (min-width: 1025px) {
  .register-button-container {
    bottom: 10vh; /* 화면 하단에서 10vh 위 */
    left: 50%; /* 화면의 가로 중앙 */
    transform: translateX(calc(30% * (100vh * (9 / 20)))) translateY(-130%); /* 가로 중앙을 기준으로 30%만큼 오른쪽으로 이동 */
  }
}

/* Tablet (768px ≤ width ≤ 1024px) */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .register-button-container {
    bottom: 8vh; /* 화면 하단에서 8vh 위 */
    left: 50%; /* 화면의 가로 중앙 */
    transform: translateX(calc(20% * (100vh * (9 / 20)))) translateY(-120%); /* 20%만큼 오른쪽으로 이동 */
  }
}

/*모바일 가로, 세로 : -767px*/
@media all and (max-width:767px){
  .register-button-container {
    bottom: 8vh; /* 화면 하단에서 8vh 위 */
    left: 50%; /* 화면의 가로 중앙 */
    transform: translateX(calc(20% * (100vh * (9 / 20)))) translateY(-120%); /* 20%만큼 오른쪽으로 이동 */
  }
}