.slider {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  width: 393px;
  overflow: hidden;
}

/* 슬라이더 트랙 (이미지 슬라이드) */
.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 33.33%; /* 슬라이드 너비를 33.33%로 설정해 한 번에 2개 반 보이도록 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

/* 이미지 스타일 */
.slide-image {
  width: 150px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
/* 슬라이더 컨트롤 (인디케이터) */
.slider-controls {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
  margin-right: 20px;
}
.slider-controls button {
  border: none;
  background-color: #ddd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls .active {
  background-color: #333; /* 활성화된 인디케이터 색상 */
}


.item-titlefont {
  margin: 0px 0; /* 위아래 간격을 5px로 설정 */
  padding: 0;
}
.item-subfont {
  margin: 0;
  padding: 0;
  font-size: small;
}