.registration-page {
  width: 100%;
  height: 100%;
}

.share-button-group {
  display: flex;
  margin-top: 10px;
  width: 345px;
  gap: 10px;
}

.share-button-specify {
  display: flex;
  gap: 10px;
}

.share-quantity {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 5px;
  background-color: #f9ecd1;
  border-radius: 5px;
}

.share-quantity-text {
  font-size: 12px;
}

.share-quantity-input {
  width: 35px;
  height: 25px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.share-quantity-input::-webkit-outer-spin-button,
.share-quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* 기본 증감 버튼 숨기기 */
  margin: 0;
}

.share-uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-check-comment {
  font-size: 14px;
  color: #929292;
}
